<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/images/logo_zeldout.ico">
    <title>ZeldOut</title>
</head>

<body class="grey lighten-4">
    <header class="teal">
        <nav class="teal">
            <div id="navMain" class="nav-wrapper">
                <a href="/"><img id="logoMain" class="left" src="/images/logo_zeldout.png" alt="Logo ZeldOut"></a>
                <ul class="right">
                    <p>Page d'administration de ZeldOut, le meilleur réseau professionnel de la Creuse.</p>
                </ul>
            </div>
        </nav>
    </header>
    <section id="adminSection">
        <h2 id="titleSecAdmin">Candidatures</h2>
        <h5 class='center'><a id="backAdmin" href="/admin">Retour à la page
                d'administration</a></h5>
        <% for(let application of applications) {%>
        <article class="<%=application.ids%>" class="col s12 m6 l6">
            <form class="adminForm">
                <table class="striped centered responsive-table">
                    <tr>
                        <th class="teal">Numéro de la candidature</th>
                        <td><input id="idTarget" class="center-align black-text" name="application" disabled type="text"
                                value="<%=application.ids%>"></td>
                    </tr>
                    <tr class="grey lighten-2">
                        <th class="teal darken-2">Nom et prénom</th>
                        <td><input class="center-align black-text" disabled type="text"
                                value="<%=application.firstname%> <%=application.lastname%> <%=application.tempory_firstname%> <%=application.tempory_lastname%>">
                        </td>
                    </tr>
                    <tr>
                        <th class="teal">Email </th>
                        <td><input class="center-align black-text" disabled type="text"
                                value="<%=application.email%> <%=application.tempory_email%>"></td>
                    </tr>
                    <tr>
                        <th class="teal darken-2">Téléphone</th>
                        <td><input class="center-align black-text" maxlength="10" disabled type="text"
                                value="<%=application.phone%> <%=application.tempory_phone%>"></td>
                    </tr>

                    <tr>
                        <th class="teal">Nom de l'offre</th>
                        <td><input class="center-align black-text" disabled type="text" value="<%=application.title%>">
                        </td>
                    </tr>
                    <tr class="grey lighten-2">
                        <th class="teal darken-2">Message</th>
                        <td><input class="center-align black-text" disabled type="text"
                                value="<%=application.message%>"></td>
                    </tr>
                </table>
                <!-- <div class="divBtn">
                <input class="btn valid" type="submit" value="Valider" disabled> 
            </div> -->
            </form>
        </article>
        <% }%>
        <div class="divBtn">
            <!-- <input class="btn modify" type="button" value="Modifier">  -->
            <input class="btn delete" type="button" value="Supprimer">
            <!-- <input class="btn create" type="button" value="Créer"> -->
        </div>
        <div id="formHidden" style="display: none;">
            <form id="suppressForm">
                <label for="apply-delete">Choisissez le numéro de la candidature à supprimer</label>
                <select class="browser-default selectDel" name="application" id="apply-delete">
                    <% for(let application of applications){%>
                    <option name="valued" id="optionDelete" value="<%=application.ids%>"><%=application.ids%></option>
                    <%}%>
                </select>
                <input class="btn" type="submit" name="subDelete" value="Confirmer" id="confirmSupr">
            </form>
        </div>
        <h5 class='center'><a id="backAdmin" href="/admin">Retour à la page
            d'administration</a></h5>
    </section>
    <script src="/js/adminCRUDApply.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>