<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="shortcut icon" href="/images/logo_zeldout.ico">
	<title>ZeldOut</title>
</head>

<body class="grey lighten-4">
	<header class="teal">
		<nav class="teal">
			<div id="navMain" class="nav-wrapper">
				<a href="/"><img id="logoZO" class="left" src="/images/logo_zeldout.png" alt="Logo ZeldOut"></a>
				<ul class="right">
					<li class="active"><a href="/">Accueil</a></li>
					<li class="active"><a href="/inscription">S'inscrire</a></li>
					<li class="active"><a href="/login">Se connecter</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main id="mailMain">
		<div id="darkOverlay"></div>
		<div id="applyBox2">
			<div id="relativApplyBox2">
				<input type="image" id="closeBtn2" alt="closeBtn" src="/images/closeBtn.png" />
				<div class="row center-align">
					<p>Déjà inscrit ? </p><a href="connect.html"> Connectez-vous !</a>
				</div>
				<form id="applyFormDisc" action="http://localhost:3000/ads/1/application" method="POST">
					<div class="input-field col s6">
						<input id="first_name" type="text" class="validate" name="tempory_firstname">
						<label for="first_name">Prénom</label>
					</div>
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate" name="tempory_lastname">
						<label for="last_name">Nom</label>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input id="phone" type="tel" class="validate" name="tempory_phone">
							<label for="phone">Téléphone</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s9">
							<input id="email" type="email" class="validate" name="tempory_email">
							<label for="email">Email</label>
						</div>
					</div>
					<label for="applyTextarea2">Contacter l'entreprise</label>
					<textarea id="fileApplyBtn" name="message"></textarea>
					<input id="idInput" type="hidden" value="disconnect" />
					<input class="btn" type="submit" value="Postuler">
				</form>
			</div>
		</div>
		<% for (let ad of ads) { %>
		<article class="card">
			<form action="#" method="">
				<div class="test card-content advertizing">
					<h2 class="card-title teal white-text valign-wrapper"><%=ad.title%></h2>
					<div id="advertId" class="advertsId"></div>
					<span class="grey-text lighten-1"><%=ad.name%>-<%=ad.city%> -created in <%=ad.createdAt%></span>
					<p id="divide"><%= ad.description %></p>
					<div class="laDiv row hidden" style="display: none;">
						<p> Détails: <br> <%= ad.detail %></p>
						<p> Salary: <br> <%= ad.salary %></p>
					</div>
				</div>
				<div class="card-action">
					<button id=<%=ad.id%> class="btn adBtn learnAd" type="button">Learn more</button>
					<a href=#navMain id="vireLien"><button class="btn adBtn blue applyBtn" type="button"><span
								class="<%=ad.id%>"> </span>Apply</button> </a>
				</div>
			</form>
		</article>
		<%  } %>
		</section>
	</main>
	<footer>
		<address class="center-align"><a href="mailto:zeldoutworkplatform@gmail.com">Contact</a> - Tous droits réservés
			- Avec l'aimable participation financière du CNC</address>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/js/app.js"></script>
</body>

</html>