<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="shortcut icon" href="/images/logo_zeldout.ico">
	<title>ZeldOut</title>
</head>

<body class="grey lighten-4">
	<header class="teal">
		<nav class="teal">
			<div id="navMain" class="nav-wrapper">
				<a href="/"><img id="logoZO" class="left" src="/images/logo_zeldout.png" alt="Logo ZeldOut"></a>
				<ul class="right">
					<li class="active"><a href="/">Accueil</a></li>
					<li class="active"><a href="/inscription">S'inscrire</a></li>
					<li class="active"><a href="/login">Se connecter</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<article id="companyArticle">
		<div class="card col s9 ssProfil">
			<h3 class="card-title teal white-text"><%= company.name %></h3>
			<h2 class="card-title center-align"><a href="/companies/<%=company.idc%>/ads">Voir les offres de
					<%= company.name %> </a> </h2>
		</div>
		<div class="card ssProfil">
			<h5 class="teal white-text">Quelques mots...</h5>
			<p><%= company.about %> </p>
		</div>
		<div class="card ssProfil">
			<h5 class="infoCompany teal white-text">Contact</h5>
			<ul>
				<li>Siège social:<%= company.location %> </li>
				<li>Email: <%= company.email %> </li>
				<li>Téléphone:<%= company.phone %> </li>
			</ul>
		</div>
	</article>
	<footer>
		<address class="center-align"><a href="mailto:zeldoutworkplatform@gmail.com">Contact</a> - Tous droits réservés
			- Avec l'aimable participation financière du CNC</address>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="../js/profil.js"></script>
</body>

</html>